*,html,body{
  margin: 0;
}
.logo{
 display: flex;
  background: #2865FE99;
  height: 100px;
}
.decTex{
  padding-left: 250px;
  gap: 100px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-around ;

}

.logopng{
  padding-left: 50px;
  width: 150px;
}

.textHed{
  color: rgb(220, 241, 245);
  text-decoration: none;
  transition: 0.3;
  transition-duration: 0.3s;
  
  font-size: 22px;
}

.textHed:hover{
  transition: 0.3s;
  font-size: 28px;
  color: rgb(94, 85, 176);
}